
h1{
	margin-top: 50px;
	padding-left: 175px;
	font-size: 34px;
	color: #0085ff;
	font-family: Georgia,serif;
}
h2{
	padding-left: 175px;
	font-size: 25px;
	color: #0085ff;
	font-family: Georgia,serif;

}

.logo{
	margin-left: 30px;
	height: 130px;
	width: 130px;
	float: left;
	display: inline;
}
.tab {
	align-content: space-between;
	margin-top: 50px;
	width: 100%;
    background-color: #f1f1f1;
}


.tab button {
	font-size: 17px;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


.tab button:hover {
    background-color: #ddd;
}


.tab button.active {
    background-color: #3799fb;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
